.magnifier {
    height: 400px;
    width: 400px;
}

.magnifier--inline {
    width: 100%;
    height: 100%;
}

.magnifier--inactive {
    display:  none;
}

.magnifier--active {
    display: block;
}

/* Force this to be on top to avoid marker artifacts
from the viewer underneath it */
#ISS_magnifier-displayregion {
    z-index: 99;
}
